<h3>Projektbeschreibung</h3>

<p>
	Angefangen hat alles mit den verheerenden Überschwemmungen Anfang 2015 in weiten Teilen Malawis und im Nachbarland
    Mosambik. Viele Menschen sind gestorben und tausende wurden obdachlos.
</p>
<p>
    Im Jahr zuvor habe ich zusammen mit einer Freundin für zwei Monate in einem
    Kinderhilfswerk in Malawi gearbeitet. In dieser Zeit und auf der
    anschliessenden Reise wurde uns sehr viel Herzlichkeit und Lebensfreude entgegengebracht. Malawi, eines der ärmsten Länder
    der Welt, und seine Bewohner sind mir ans Herz gewachsen. Aus diesem
    Grund ging mir diese Katastrophe sehr nahe. Viele Familien haben ihr Zuhause
    verloren. Die meisten Bewohner sind Selbstversorger oder verdienen ein wenig Geld mit
    dem Verkauf ihrer Ernte. Ihre meist sehr kleinen Felder wurden nun überschwemmt und zerstört. Die Vorstellung, dass den Menschen, die knapp das Nötigste
    haben, alles genommen wurde, war unerträglich.<br>
    So habe ich mit Hilfe von Josephy aus Malawi, mit welchem ich seit
    meinem Aufenthalt regen Kontakt gehalten habe und welcher mich immer auf dem
    Laufenden hält versucht, den Bewohnern aus den kleineren Dörfern in der Region Chikwawa zu helfen.
</p>
<p>
    Mit dem gesammelten Geld wurden verschiedene Güter wie zum Beispiel Essen,
    Moskitonetze, Chemikalien um das Wasser trinkbar zu machen und Saatgut an die Familien
    verteilt.
</p>
<p>
    Im Frühling 2015 bin ich mit meiner Familie erneut nach Malawi gereist. Josephy hat
    uns auf der Reise begleitet und wir haben Pläne für ein längerfristiges und
    andauerndes Projekt geschmiedet. Ideen für verschiedene Programme und deren
    Umsetzung wurden ausgetauscht. Seitdem wurde vieles realisiert und das Projekt <b>HEMA, help2malawi</b> ist entstanden.
</p>

<p> 
    Unter der Rubrik <span style="color:#C00000" ng-click="nav.selCont(2)">Programme </span>sind die verschiedenen Aktivitäten beschrieben.
</p>
<p>
    Das Ziel des Projektes ist es, den Menschen zu helfen auf eigenen Beinen zu stehen und ihr eigenes Geld zu verdienen sowie die Bewohner in verschiedenen Bereichen
    zu unterrichten und nachhaltig zu unterstützen.
</p>
<p>
    Wir freuen uns über alle kleinen und grösseren Fortschritte der Entwicklung und natürlich
    über die dafür benötigten <span style="color:#C00000" ng-click="nav.selCont(4)">Spenden </span>welche all dies ermöglichen.</span>
 </p>
<p>
    Herzlichen Dank <br>
    Zikomo kwambiri
</p>	

<p>
	<img src="pictures/logo/SmallLogo.jpg" alt="SmallLogo" width="300">
</p>
<p>
	Sibylle aus der Schweiz<br>
	Josephy mit vielen freiwilligen Helfern aus Malawi
</p>
